@use '../../styles/variables' as v;

.button {
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.02em;
  font-feature-settings: 'liga' off;
  cursor: pointer;
}

.button.primary {
  background-color: v.$blue-light;
  color: v.$blue;
}

.button.secondary {
  background-color: v.$orange;
  color: #fff;
}

.button:disabled {
  background-color: v.$background;
  color: v.$text-lighter;
  cursor: not-allowed;
}
