@use '../../styles/variables' as v;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
  padding-right: 24px;
  &__search {
    display: flex;
  }
  .icon {
    margin-left: 8px;
    cursor: pointer;
  }
}
